<p>login works!</p>
<div>
    <form [formGroup]="loginForm">
        <div>
            <mat-form-field>
                <mat-label>ID</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput formControlName="passwd" type="password">
            </mat-form-field>
        </div>
        <!-- id:<input type="text" id="id">
        password:<input type="password" id="passwd"> -->
        <button (click)="login()">로그인</button>
    </form>
</div>